<?xml version="1.0"?>
<launch>

  <!-- Map Server -->
  <arg name="map_file" default="$(find agv_navigation)/maps/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- AMCL -->
  <include file="$(find agv_navigation)/launch/amcl.launch"/>

  <!-- Move Base -->
  <include file="$(find agv_navigation)/launch/move_base.launch"/>

  <!-- Robot State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro '$(find agv_gazebo)/xacro_agv/agv_urdf.xacro'"/>
  </node>

</launch>
